.md-body {
  margin: 0 auto;
  font-family: "Microsoft YaHei", arial, sans-serif;
  color: #444444;
  line-height: 1;
  padding: 50px 30px 30px;
}
.md-body {
  /*pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}*/
  /** markdown preview plus 对于代码块的处理有些问题, 所以使用统一的颜色 */
  /*code .keyword {
  color: #8959a8;
}
code .number {
  color: #f5871f;
}
code .comment {
  color: #998
}*/
  /* Code below this line is copyright Twitter Inc. */
  /* override default chrome & firefox settings */
  /* grey out placeholders */
  /* buttons */
}
.md-body h1,
.md-body h2,
.md-body h3,
.md-body h4 {
  color: #111111;
  font-weight: 400;
  margin-top: 1em;
}
.md-body h1,
.md-body h2,
.md-body h3,
.md-body h4,
.md-body h5 {
  font-family: Georgia, Palatino, serif;
}
.md-body h1,
.md-body h2,
.md-body h3,
.md-body h4,
.md-body h5,
.md-body p,
.md-body dl {
  margin-bottom: 16px;
  padding: 0;
}
.md-body h1 {
  font-size: 48px;
  line-height: 54px;
}
.md-body h2 {
  font-size: 36px;
  line-height: 42px;
}
.md-body h1,
.md-body h2 {
  padding-bottom: 10px;
}
.md-body h3 {
  font-size: 24px;
  line-height: 30px;
}
.md-body h4 {
  font-size: 21px;
  line-height: 26px;
}
.md-body h5 {
  font-size: 18px;
  list-style: 23px;
}
.md-body a {
  color: #0099ff;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.md-body a:hover {
  text-decoration: none;
  color: #ff6600;
}
.md-body a:visited {
  /*color: purple;*/
}
.md-body ul,
.md-body ol {
  padding: 0;
  padding-left: 24px;
  margin: 0;
}
.md-body li {
  line-height: 24px;
}
.md-body p,
.md-body ul,
.md-body ol {
  font-size: 16px;
  line-height: 24px;
}
.md-body ol ol,
.md-body ul ol {
  list-style-type: lower-roman;
}
.md-body code,
.md-body pre {
  border-radius: 3px;
  background-color: #f7f7f7;
  color: inherit;
}
.md-body code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  margin: 0 2px;
}
.md-body pre {
  line-height: 1.7em;
  overflow: auto;
  padding: 6px 10px;
  border-left: 5px solid #6ce26c;
}
.md-body pre > code {
  border: 0;
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  font-size: 0.85em;
  white-space: pre;
  background: 0 0;
}
.md-body code {
  color: #666555;
}
.md-body aside {
  display: block;
  float: right;
  width: 390px;
}
.md-body blockquote {
  border-left: 0.5em solid #eee;
  padding: 0 0 0 2em;
  margin-left: 0;
}
.md-body blockquote cite {
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
}
.md-body blockquote cite:before {
  content: "\2014 \00A0";
}
.md-body blockquote p {
  color: #666;
}
.md-body hr {
  text-align: left;
  color: #999;
  height: 2px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
.md-body dl {
  padding: 0;
}
.md-body dl dt {
  padding: 10px 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.md-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.md-body dd {
  margin-left: 0;
}
.md-body button,
.md-body input,
.md-body select,
.md-body textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
.md-body button,
.md-body input {
  line-height: normal;
  *overflow: visible;
}
.md-body button::-moz-focus-inner,
.md-body input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.md-body button,
.md-body input[type="button"],
.md-body input[type="reset"],
.md-body input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
.md-body input[type="checkbox"],
.md-body input[type="radio"] {
  cursor: pointer;
}
.md-body input:not([type="image"]),
.md-body textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.md-body input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.md-body input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.md-body label,
.md-body input,
.md-body select,
.md-body textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 18px;
}
.md-body input[type="checkbox"],
.md-body input[type="radio"] {
  cursor: pointer;
  margin-bottom: 0;
}
.md-body input[type="text"],
.md-body input[type="password"],
.md-body textarea,
.md-body select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.md-body select,
.md-body input[type="file"] {
  height: 27px;
  line-height: 27px;
}
.md-body textarea {
  height: auto;
}
.md-body :-moz-placeholder {
  color: #bfbfbf;
}
.md-body ::-webkit-input-placeholder {
  color: #bfbfbf;
}
.md-body input[type="text"],
.md-body input[type="password"],
.md-body select,
.md-body textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.md-body input[type="text"]:focus,
.md-body input[type="password"]:focus,
.md-body textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
.md-body button {
  display: inline-block;
  padding: 4px 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(to bottom, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(to bottom, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(to bottom, #049cdb, #0064cd);
  background-image: -o-linear-gradient(to bottom, #049cdb, #0064cd);
  background-image: linear-gradient(to bottom, #049cdb, #0064cd);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #004b9a;
  border-bottom-color: #003f81;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.md-body button:hover {
  color: #fff;
  background-position: 0 -15px;
  text-decoration: none;
}
.md-body button:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.md-body button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.md-body table {
  *border-collapse: collapse;
  /* IE7 and lower */
  border-spacing: 0;
  width: 100%;
}
.md-body table {
  border: solid #ccc 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  /*-webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;   */
}
.md-body table tr:hover {
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.md-body table td,
.md-body .table th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.md-body table th {
  background-color: #dce9f9;
  background-image: -webkit-gradient(linear, to right to bottom, to right to top, from(#ebf3fc), to(#dce9f9));
  background-image: -webkit-linear-gradient(to bottom, #ebf3fc, #dce9f9);
  background-image: -moz-linear-gradient(to bottom, #ebf3fc, #dce9f9);
  background-image: -ms-linear-gradient(to bottom, #ebf3fc, #dce9f9);
  background-image: -o-linear-gradient(to bottom, #ebf3fc, #dce9f9);
  background-image: linear-gradient(to bottom, #ebf3fc, #dce9f9);
  /*-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;*/
  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 5px;
}
.md-body table td:first-child,
.md-body table th:first-child {
  border-left: none;
}
.md-body table th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}
.md-body table th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}
.md-body table th:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.md-body table tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}
.md-body table tr:last-child td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}
